@charset "UTF-8";

html,
body {
    margin: 0;
    min-height: 100%;
    background-color: #f2f2f2;
}

ul,
ol {
    list-style-type: none;
}

ul,
ol,
p {
    margin: 0;
    padding: 0;
}

iframe {
    border: 0;
    width: 100%;
    height: 1590px;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 8px;
    background: #aaa;
    opacity: .5;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    width: 10px;
    height: 10px;
    border-radius: 0;
    background: #f0f0f0;
}

.main {
    width: 1080px;
    height: 1590px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0px 50px 0 rgba(0, 0, 0, 0.2);
}

.main .channel {
    height: 100%;
    display: none !important;
}

.main div.on-channel {
    display: block !important;
}


.on-channel .section {
    display: none !important
}

.on-channel div.on-contents {
    display: block !important;
}

.main .scroll {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
}

.main div.on-scroll {
    display: block !important;
}

.on-scroll .marquee {
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
    font-size: 20px;
    padding: 0 10px;
    position: relative;
    display: none !important;
}

.on-scroll .open-marquee {
    display: block !important;
}

.marquee p {
    position: absolute;
    top: 26%;
    left: 100%;
    z-index: 99;
}

.scroll li {
    font-size: 20px;
    display: inline-block;
    margin: 12px 30px 0 30px;
}



/* 定义第一个的animation：时长 动画名字 匀速 循环 正常播放 */
.first {
    -webkit-animation: 40s first-marquee linear infinite normal;
    -moz-animation: 40s first-marquee linear infinite normal;
    animation: 40s first-marquee linear infinite normal;
    padding-right: 70%;
}

/* 因为要在第一个播完之前就得出现第二个span，所以就延迟12s才播放 */
.last {
    -webkit-animation: 40s first-marquee linear 20s infinite normal;
    -moz-animation: 40s first-marquee linear 20s infinite normal;
    animation: 40s first-marquee linear 20s infinite normal;
    padding-right: 53%;
}

@keyframes first-marquee {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    /* 向左移动 */
    100% {
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0);
        display: none;
    }
}

@-moz-keyframes first-marquee {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    /* 向左移动 */
    100% {
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0);
        display: none;
    }
}

.video {
    overflow: hidden;
    position: relative;
    background-color: #fff;
}

video {
    width: 1080px;
    height: 710px;
    display: block;
    object-fit: cover;
}

img {
    vertical-align: top;
    max-width: 100%;
}