@charset "UTF-8";

html,
body {
    color: #333;
    margin: 0;
    min-height: 100%;
    font-size: 16px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "PingFangSC-Regular", "Microsoft YaHei", Helvetica;
    background-color: #f2f2f2;
}

ul,
ol {
    list-style-type: none;
}

ul,
ol,
p {
    margin: 0;
    padding: 0;
}

iframe {
    border: 0;
    width: 100%;
    height: 1590px;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 8px;
    background: #aaa;
    opacity: .5;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    width: 10px;
    height: 10px;
    border-radius: 0;
    background: #f0f0f0;
}

.main {
    width: 1080px;
    height: 1920px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0px 50px 0 rgba(0, 0, 0, 0.2);
}


.scroll {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 100;
    height: 100px;
    width: 1080px;
    color: #f00;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
}

.scroll li {
    letter-spacing: 0.5px;
    font-weight: 700;
    font-size: 34px;
    display: inline-block;
    margin: 26px 200px 0 0;
}


.xMarquee {
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 100px;
    z-index: 100;
    height: 100px;
    width: 1080px;
    color: #f00;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
}

.xMarquee ol {
    width: 10000px;
}

.xMarquee li {
    float: left;
    white-space: nowrap;
    letter-spacing: 0.5px;
    font-weight: 700;
    font-size: 34px;
    display: inline-block;
}

.video {
    overflow: hidden;
    position: relative;
    background-color: #000;
}

video {
    width: 1080px;
    height: 608px;
    display: block;
    /* object-fit: cover; */
}

img {
    vertical-align: top;
    max-width: 100%;
}