<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!--定时自动刷新，content表示刷新间隔，单位为秒s，下面代码表示页面每隔三秒刷新一次-->
  <!-- <meta http-equiv="refresh" content="10"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- 360默认用极速核 -->
  <meta name="renderer" content="webkit">
  <meta name="x5-page-mode" content="app">
  <meta name="browsermode" content="application">
  <meta name="author" content="Yolo">
  <!-- 禁止将页面中的数字识别为电话号码 -->
  <meta name="format-detection" content="telephone=no,email=no">
  <!-- 不让百度转码 -->
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <link rel="shortcut icon" href="./favicon.ico">
  <title>屏端播放控制</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/swiper.min.css">
  <link rel="stylesheet" href="css/index.css">
</head>

<body>
  <div id="root">
    <!-- 蒙版 -->
    <div class="mask" v-show="maskFull" @click="maskFull = !maskFull"></div>
    <!-- 显示打卡成功 start -->
    <transition name="clock-fade">
      <div class="punchClock" v-show="clockVisible">
        <div class="clock">
          <div class="figure">
            <img id="photo" :src="student.photo">
            <p>你好,<strong id="uName">{{ student.studentName }}</strong>小朋友</p>
            <div class="time" id="time">{{ student.time }}</div>
          </div>
        </div>
      </div>
    </transition>
    <!-- 显示打卡成功 end -->
    <div class="main" :school="schoolname">
      <!-- 播放缺省的内容 start -->
      <template v-if="local">
        <div class="local" style="width:1080px;height: 1590px;">
          <div id="localImg" class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide stop-swiping" v-for="(d, index) in localImgList">
                <img :src="d.image" width="1080" height="1590">
              </div>
            </div>
          </div>
        </div>
      </template>
      <!-- 播放缺省的内容 end -->
      <!-- 滚动内容 start -->
      <template v-if="marquee.length">
        <div class="scroll">
          <ul class="infoList">
            <li v-for="(item, index) in marquee" :key="index">{{ item.scroll_content }}</li>
          </ul>
        </div>
      </template>
      <!-- 滚动内容 end -->
      <!-- 栏目 start -->
      <div :style="{display: index === channelIndex ? 'block': 'none'}" class="channel" :channel="channel.channelname"
        :priority="channel.priority" :playstart="channel.playstarttime" :playend="channel.playendtime"
        v-for="(channel, index) in channelData" :key="index">
        <template v-if="index === channelIndex">
          <div :title="child.title" :style="{display: cindex === channelContenIndex ? 'block': 'none'}" class="section"
            v-for="(child, cindex) in channel.contents" :key="cindex">
            <template v-if="cindex === channelContenIndex">
              <!-- 门户网站 html -->
              <template v-if="child.showtype === 6">
                <img :src="protalUrl + 'image/empty.jpg'" style="display:none" @error="handleError">
                <img v-if="!frameVisible" src="./local/slide1.jpg" alt="">
                <iframe v-if="frameVisible" height="1590" id="poster" ref="iframe" :src="child.webUrl"></iframe>
              </template>
              <!-- 纯图片 -->
              <template v-if="child.showtype === 3">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide stop-swiping" v-for="(slide, index) in child.images">
                      <img :src="slide.imageurl" alt="" width="1080" height="1590">
                    </div>
                  </div>
                </div>
              </template>
              <!-- 上视频下图片 -->
              <template v-if="child.showtype === 4">
                <div class="video">
                  <video id="video" ref="videos" :src="child.video.videourl" loop autoplay></video>
                </div>
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide stop-swiping" v-for="(slide, index) in child.images" :key="index">
                      <img :src="slide.imageurl" alt="" width="1080" height="982">
                    </div>
                  </div>
                </div>
              </template>
              <!-- 上图片下视频 -->
              <template v-if="child.showtype === 5">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide stop-swiping" v-for="(slide, index) in child.images" :key="index">
                      <img :src="slide.imageurl" alt="" width="1080" height="982">
                    </div>
                  </div>
                </div>
                <div class="video">
                  <video id="video" ref="videos" :src="child.video.videourl" loop autoplay></video>
                </div>
              </template>
            </template>
          </div>
        </template>
      </div>
      <!-- 栏目 end -->
      <!-- 互动区 -->
      <div class="interaction">
        <img src="./interaction/image/loading.gif" v-if="!worksVisible" class="loading">
        <div class="aside">
          <div class="aside-box">
            <img src="./interaction/image/qcode.png" width="120" height="120">
            <strong>小Q智慧</strong>
            <p>更多精彩，关注公众号</p>
          </div>
        </div>
        <div class="works-box">
          <div class="swiper-container" v-if="worksVisible">
            <div class="swiper-wrapper">
              <div class="swiper-slide works-slide stop-swiping" v-for="(w, index) in worksList" :key="w.worksId"
                @click="handleSlideClick(w, index)">
                <div :style="{backgroundImage: 'url(' + w.smallUrl + ')'}" class="works-small"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- 弹出大图查看 start -->
        <div class="full" :class="{'full-open': maskFull}">
          <div class="full-box">
            <!-- 点赞成功提示 start -->
            <transition name="clock-fade">
              <div class="praise-tip" v-if="praiseVisible">
                <img src="./interaction/image/praise-success.png">
              </div>
            </transition>
            <!-- 点赞成功提示 end -->
            <div class="tab">
              <!-- 作品类别 start -->
              <div class="tab-head">
                <div class="tab-item" @click.stop="handleTabClick(1)">
                  <div class="finearts" :class="[worksType === 1 ? 'active': '']"></div>
                </div>
                <div class="tab-item" @click.stop="handleTabClick(2)">
                  <div class="calligraphy" :class="[worksType === 2 ? 'active': '']"></div>
                </div>
                <div class="tab-item" @click.stop="handleTabClick(3)">
                  <div class="homework" :class="[worksType === 3 ? 'active': '']"></div>
                </div>
              </div>
              <!-- 作品类别 end -->
              <div class="tab-content">
                <div class="tab-pane">
                  <div class="swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide works-big-slide" v-for="(w, index) in worksBigList" :key="w.worksId">
                        <div :style="{backgroundImage: 'url(' + w.imageUrl + ')'}" class="works-big"></div>
                        <!-- 点赞 start -->
                        <div class="praise" @click.stop="handlePraise(w)">
                          <img src="./interaction/image/works-praise.png" alt="" width="102" height="106">
                          <div>{{ w.praise }}</div>
                        </div>
                        <!-- 点赞 end -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 弹出大图查看 end -->
      </div>
    </div>
  </div>
</body>
<script src="./js/vue.min.js"></script>
<script src="./js/jquery-1.12.4.min.js"></script>
<script src="./js/jquery.marquee.min.js"></script>
<script src="./js/swiper.min.js"></script>
<script src="./school_panel_content.js"></script>
<script src="./js/mixin.js"></script>
<script src="./index.js"></script>
<script>
  //window.ikepu_js = vm.ikepu_js;
  //ikepu_js('{"data":{"nfcid":"E2C2441B7F"},"action":"nfc_login"}');
  //打卡函数调用
  function ikepu_js(params) {
    vm.ikepu_js(params);
  }

  $(function () {
    setTimeout(function () {
      $(".scroll").marquee({
        duration: 20000,
        pauseOnHover: false
      });
    }, 1000);
  });
</script>

</html>